<%- include('header'); -%>
<div class="row">
    <div class="col-lg">
        <h5 class="mb-3">Step 1: <span class="font-weight-normal">Set User Account</span></h5>
        <h6 class="pb-2">Enter a User Name to see their linked accounts. </h6>

        <form method="POST" action="">
            <div class="form-group">
                <label class="font-weight-light">If you are in the Yodlee sandbox env, be sure to choose one of your test users in the <stong>API Dashboard</stong></sm></label>
                <input class="w-50 form-control" type="text" placeholder="User Name" name="username"
	               value="" required="required">
            </div>
            <button class="btn btn-primary" type="submit">Set</button>
        </form>
    </div>
</div>
<%- include('footer') %>
